*{
    font-family: 'Varela Round' !important;
}
/* body {
    background: url('./background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     filter: blur(8px); 
     -webkit-filter: blur(8px); 
z-index: -1;
  } */
@font-face {
    font-family: 'Varela Round';
    /* src: url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap') format("truetype"); */
    src: url('../../UI/Font/VarelaRound-Regular.ttf') format("truetype");
}
/* 
.body-content {
    height: calc(100vh - 18px);
} */
.bodyy{
    
    position: relative;
    top:0 !important;
}
.bodyy::after{
    
    content: "";
    opacity: 0.8;
    background: rgb(26, 31, 41) url("./background.jpg") no-repeat center center fixed;
    /* also change the blend mode to what suits you, from darken, to other 
    many options as you deem fit*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    filter: blur(8px); 
    -webkit-filter: blur(8px); 
}

#containerr {
    background:  url('../../../images/background.jpg') center center no-repeat;
    background-size: 100%;
    width: 70%;
    height: 80%;
    margin: auto(-50%,-50%);
    opacity: 0.7;
    margin: auto;
    border-radius: 16px;
    box-shadow: 2rem 1rem 6rem rgba(0,0,0,.4);
    transform: translate(-50%,-25%);
    position: absolute;
    top: 27%;
    left: 50%;
    z-index: 1;
    
}

#containerr h3 {
        font-family: 'Varela Round' !important;
        font-size:90px;
       text-align: left;
        position: absolute;
        -webkit-text-stroke-width: medium;
        /* background: -webkit-linear-gradient(#eee, #333); */
        /* -webkit-background-clip: text; */
        text-shadow: 0px 4px 4px rgba(104, 100, 100, 0.25);
        /* color: rgb(46, 44, 44); */
        color: honeydew;
        top: 40%;
        left:2%;

    }
 #containerr ul {
        bottom: 0;
        
        right: 0;
    }
#containerr p{
        text-align: right;
        color: ghostwhite;
        position: absolute;
        left: 5%;
        top: 65%;
        font-size:24px;
        text-shadow:2px 2px gray;
}
   
.startbutton {
       position: absolute;
       top:80% ;
       left: 18%
    } 

nav > ul > li {
    list-style: none;
}
#selectarea{
    height: 150px;
    width: 70%;
    margin: auto;
    border-radius: 6px;
    opacity: 0.9;
}
.areabutton{
    background: #fcfcffe0;
    color: #777;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    font-size: 20px;
}
.areabutton:hover{
    background: #7b84ad;
    color: #fcfcffe0;
}
#selectarea ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
#selectarea li{
  margin: 5px 5px;
  padding: 14px 16px;

}
#selectarea h2{
    font-size: 54px;
    opacity: 1;
    color: white;
}

@media screen and (max-width: 860px) {
#containerr h3 {
      font-size: 40px;
    }
 
  .box{
      display: flex;
  }

  #containerr p{
      font-size: 12px;
      top:40%;
      left: 0;
      right:40%;
      left: 20% ;
  }
  #containerr h3{
      
      text-align:center;
      top:10%;
      left: 25%;
      right: 25%;
      
  }
  .startbutton{
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    left: 25%;
      right: 25%;
      top:90%;
  }
  #containerr{
    background-position: center center; 
    /* background-attachment: fixed;  */
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: auto(-50%,-50%);
  }
 
}


