

.maininfo{
    text-align: right;
    direction: rtl;
  

}
.maininfo hr{
  margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  #6a7ce2, rgba(0, 0, 0, 0));
    width: 25%;
    color: rgb(75, 156, 231);
}
ul {
    list-style-type: none;
  }
  .maininfo ul li:before {

    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url('../../../images/logo/logo.png');
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  .maininfo ul li span {
    position: relative;
    left: -10px;
  }

  .maininfo  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    /* background-color: #333; */
  }
  
  .maininfo li {
    float: right;
  }