.sendform {
    color: rgb(255, 255, 255);
    text-align: right;
    background: url('../../../images/center/motza.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    content: "";
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-color: #f14d24;
    overflow: auto;
   
}
.sendform img{
   height: 100px;
   position: absolute;
   cursor: pointer;
   margin: 5px 5px;
   left: 0;
  
}
.form form{
    /* color: rgb(58, 58, 58); */
   color: black;
   padding-bottom: 5%;
   padding-top: 2%;
   border-radius: 4px;
    background-color: rgb(238, 238, 238);
    opacity: 0.8;
    /* width: 50%; */
    margin: auto;
    

}
.formdetails{
    /* z-index: -5; */
}
.form form form.Control {
    color: black !important;
}
.checkbox{
    text-align: right;
}

.form h2{
    text-align: center;
     font-size: 60px;
     font-weight: bold;
     /* color: rgb(36, 36, 36); */
     color: #f14d24;
     opacity: 0.9;
     letter-spacing: 0.15em;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  }
.form p{
      text-align: center;
  }
.form hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  rgb(254, 255, 255), rgba(0, 0, 0, 0));
    width: 50%;
    color: rgb(232, 244, 255);
    margin: auto;
}
.form #description {
    width: 180px;
    margin-left: 43px;
    max-width: 253px;
    
}
.form .formbutton  {
 
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 2% !important;
    align-items: center !important;
}

.submitButton{
    max-width: 100% !important;
}

.form .allformtags{
    margin: auto;
}
.wrapper{
    max-width: 600px;
    margin: auto;
}

Form.Group{
    padding: 10px;
}
.form-row{
margin: 0 15px;
}
.form-control{
margin: 15px 0px;
}




.sendform .externalLinks{
    position: fixed;
    float: left;
    bottom: 5px;
    
    }
    
.sendform .externalLinks #github{
        color:white !important;
    }
.sendform .externalLinks #linkedin{
        color:white !important;
    }

.form .formtags{
    list-style: none;
    background: #ffffffe0;
    color: #f14d24;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    font-size: 12px;
 
}
.form .formtags label{
    padding-right: 5px;
    cursor: pointer;
}
.form .formtags:checked::after{
    background: #8ddddde0;  
}

.area select {
    cursor: pointer;
    
}
.addphoto{
    padding-right:30px;
}
.form #location{
    width: 180px;
}

.thankyoumessage p {
    font-size: 72px;
    padding-top: 2%;
 
}

.sendform #menuicon{
    color:#f14d24;
    font-size: 40px;
    display: none;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    cursor: pointer;

}

.form .rowform{
     justify-content: space-around !important;
}
input{
    padding: 0px 0px;
    margin: 0px 0px;

}

@media (max-width: 575px) {
    .form-row  {
        flex-direction: column !important;
      }
    .form form{
      width: 70%;
    }
    .form h2{
     font-size: 40px;
     letter-spacing: 0.05em;
     text-align: center;

    }
 
    .thankyoumessage p{
        font-size: 36px;
     
    }

 }
 @media (max-width: 860px) {
    .sendform img {
      height: 56px;
    }
    .navdesktop{
      display: none;
    }
    .form p{
      color: black;
    }
    .sendform #menuicon{
      display: inline;
      z-index: 1000;
    }
    .sendform .externalLinks{
      left: 1px;
    }
    .form h2{
      margin-top: 50px;   
    }      
}
 @media (max-width: 1000px) {
       .thankyoumessage p{
        font-size: 36px;
     
    }

}


