.sendform {
    color: rgb(255, 255, 255);
    text-align: right;
    /* margin-top: 25%; */
    /* background-image: url('../../../images/bonim.jpg'); */
    background: url('../../../images/center/motza.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    content: "";
    
    /* also change the blend mode to what suits you, from darken, to other 
    many options as you deem fit*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 850px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
   
}
.form form{
    /* color: rgb(58, 58, 58); */
   color: black;
   padding-bottom: 5%;
   padding-top: 2%;
   border-radius: 4px;
    background-color: rgb(238, 238, 238);
    opacity: 0.8;
    width: 50%;
    margin: auto;
    /* z-index: -10; */
    
    /* padding-right: 2%;
    padding-left: 2%; */
    /* background-color: cornflowerblue; */
    /* border-color:  rgb(184 203 220); */
    /* border-style: double; */
    /* filter: blur(5px); */

}
.formdetails{
    z-index: -5;
}
.form form form.Control {
    color: black !important;
}
.checkbox{
    text-align: right;
}

.form h2{
    text-align: center;
     font-size: 60px;
     font-weight: bold;
     /* color: rgb(36, 36, 36); */
     color: #f14d24;
     opacity: 0.9;
     letter-spacing: 0.15em;
     letter-spacing: 0.15em;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  }
  .form p{
      text-align: center;
  }
.form hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  rgb(254, 255, 255), rgba(0, 0, 0, 0));
    width: 50%;
    color: rgb(232, 244, 255);
    margin: auto;
}
.form .formbutton{
    /* position: relative;
    float: left;
    left:15%;
    bottom: 5%; */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    align-items: center;
}
.form .allformtags{
    margin-right: 30px;
    justify-content: center;
}

.form .formtags{
    list-style: none;
    background: #ffffffe0;
    color: #f14d24;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 2px;
}
.form .formtags label{
    padding-right: 5px;
}
.form .formtags:checked::after{
    background: #8ddddde0;  
}
.area{
   padding-right:20px;
}
.addphoto{
    padding-right:30px;
}


.thankyoumessage p {
    font-size: 72px;
    padding-top: 2%;
 
}

#coffeelogo{
    height: 3rem;
    margin-right: 10px;
    text-decoration: none;
    list-style-type: none;
    display: none;
}

@media (max-width: 575px) {
    .form form{
      width: 70%;
    }
    .form h2{
     font-size: 40px;
    }
    .rowform{
        margin-right: auto;
        margin-left: auto;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .area{
     margin-right: auto;
    margin-left: auto;
    align-items: center;
    }
    .thankyoumessage p{
        font-size: 36px;
     
    }
    /* .form .formbutton{
        position: relative;
        float: left;
        left:15%;
        bottom: 0;
        
    } */
 }
 @media (max-width: 1000px) {
    .area{
        margin-right: auto;
       margin-left: auto;
       align-items: center;
       } 

       .thankyoumessage p{
        font-size: 36px;
     
    }

  
}
@media (max-width: 860px) {
    #coffeelogo{
        display: block;
        margin-top:0;
        height: 3rem;
        margin-right: 10px;
        text-decoration: none;
        list-style-type: none;
      }
      .navdesktop{
        display: none;
    
        }
        .form p{
            color: black;
        }
}
