.Modal {
    position: fixed;
    z-index: 200;
    background-color: white;
    max-width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    padding-bottom: 5%;
    left: 20%;
    right:20%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: right;
    color: black;
    overflow-y: auto;
    overflow-x: hidden; 
   
    
}
.Modal:-webkit-scrollbar {
    width: 1em;
}

.Modal::-webkit-scrollbar-thumb {
    background: #e3e7ff; 
    border-radius: 20px;
}

.Modal::-webkit-scrollbar-track {
    background: #a4cbff; 
}
#closeModalButton{
    font-size: 32px;
    float: left;
    position: relative;
    padding-bottom: 10px;
}


@media (max-width: 599px) {
    .Modal {
    display: block; 
    left: 10%;
    right: 10%;
    max-width: 80%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    top: 15%;
    }
}



