.Modal {
    position: fixed;
    z-index: 200;
    background-color: white;
    width: 60%;
    /* height: 50%; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    padding-bottom: 5%;
    left: 20%;
    right:20%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: right;
    color: black;
     /* display: block;  */
   display: flex;
   align-items: flex-start; 
   overflow-y: auto;
   overflow-x: hidden; 
}

@media (min-width: 600px) {
    .Modal {
        display: block; 
        /* height: 70%; */
    }
} 

/* left: calc(50% - 250px); */