 body::-webkit-scrollbar {
      width: 1em;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e3e7ff; 
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: #a4cbff; 
  }

img{
  opacity: 0.9;
}
img:hover {
  opacity: 1;
  width: 300px;
  transition: 0.3s;
} 
.sites{
    
    text-align: center;
    padding-top: 10px;
 }
 .sites hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  #6a7ce2, rgba(0, 0, 0, 0));
    width: 50%;
    color: rgb(75, 156, 231);
    margin: auto;

 }

  .sitespage{
    /* background-image: url('../../../images/white4.png'); */
    background-size: cover;
    margin-top: 0;
  }
      

  @media (max-width: 1245px) {
    .sites{
    
     
   }
}


 